# file in root
file_root_1       # IGNORE /file_root_1
/file_root_2      # IGNORE /file_root_2
file_root_3/      # NO_MATCH
file_root_4/*     # NO_MATCH
file_root_5/**    # NO_MATCH

# file in sub-dir
file_deep_1       # IGNORE /file_parent_dir/file_deep_1
/file_deep_2      # NO_MATCH
file_deep_3/      # NO_MATCH
file_deep_4/*     # NO_MATCH
file_deep_5/**    # NO_MATCH

# dir in root
dir_root_1        # IGNORE /dir_root_1
/dir_root_2       # IGNORE /dir_root_2
dir_root_3/       # IGNORE /dir_root_3
dir_root_4/*      # IGNORE /dir_root_4
dir_root_5/**     # IGNORE /dir_root_5

# dir in sub-dir
dir_deep_1        # IGNORE /dir_parent_dir/dir_deep_1
/dir_deep_2       # NO_MATCH
dir_deep_3/       # IGNORE /dir_parent_dir/dir_deep_3
dir_deep_4/*      # NO_MATCH
dir_deep_5/**     # NO_MATCH
