# file in root
file_root_1
/file_root_2
file_root_3/
file_root_4/*
file_root_5/**

# file in sub-dir
file_deep_1
/file_deep_2
file_deep_3/
file_deep_4/*
file_deep_5/**

# dir in root
dir_root_1
/dir_root_2
dir_root_3/
dir_root_4/*
dir_root_5/**

# dir in sub-dir
dir_deep_1
/dir_deep_2
dir_deep_3/
dir_deep_4/*
dir_deep_5/**
